conf/ballerina/workspace/restfull-sample-api/target
conf/ballerina/workspace/restfull-sample-api/tests
conf/ballerina/workspace/restfull-sample-api/.devcontainer.json
conf/ballerina/workspace/restfull-sample-api/Dependencies.toml

conf/integrated-studio/workspace/.metadata
conf/integrated-studio/workspace/.tmp
conf/integrated-studio/workspace/.project